.service-card {
  color: #e3e4e2;
  display: flex;
  width: 30%;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(33, 28, 28, 0.85);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s;
  margin: 2rem;
}

.project-section {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .service-card {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .service-icon {
    width: 50%;
  }
}

.service-icon {
  width: 30%;
  color: #212c1c;
  padding: 0.5rem;
}

.services-description {
  text-align: left;
  font-size: 1.75;
  font-weight: 200;
  color: #969695;
}

.services-subtitle {
  font-weight: 700;
  text-align: left;
  padding-top: 2rem;
}

.services-btn {
  background-color: #8aff85;
  background-image: linear-gradient(225deg, #8aff85 0%, #d0ff7d 100%);
  color: #211c11;
  font-size: clamp(1rem);
  font-weight: 700;
  padding: 1rem;
  border: #8aff85;
  background-image: linear-gradient(225deg, #8aff85 0%, #d0ff7d 100%) 3px solid;
  border-radius: 15px;
  text-align: center;
  width: fit-content;
  text-transform: uppercase;
  width: 100%;
  margin-top: 1rem;
  justify-content: center;
  letter-spacing: 0px;
  text-decoration: none;
  transition: transform 0.1s;
}
.welcome {
  color: #211c1c;
  text-align: left;
  font-weight: 200;
}
