.project-card {
  color: #e3e4e2;
  display: flex;
  padding: 1rem;
  width: auto;
  height: auto;
  margin: 10px;
  background-color: rgba(
    33,
    28,
    28,
    0.75
  ); /* Adjust the alpha value (0.5) as needed */

  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  justify-content: space-between;
}

.project-card:hover {
  transform: scale(1.01);
  transition: transform 0.5s;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 768px) {
  .project-card {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.card-body {
  padding: 0;
}

.project-card h3 {
}

@media screen and (max-width: 768px) {
  .project-card {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
}

.project-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.project-description {
  margin-top: 10px;
  font-weight: 500;
  font-size: 1rem;
  color: #e3e4e2;
}

.project-image {
  width: 100%;
  height: 370px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.project-card h3 {
  margin-bottom: 10px;
  font-weight: 700;
  margin-top: 0.25rem;
}

.project-card p {
  color: #969695;
}

.projectDiv {
  margin-right: auto;
  margin-left: auto;
}
