.projects {
  padding: 24px 48px 0px;
  margin-left: auto;
  height: auto;
}
h3 {
  font-family: "Geist";
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 34px;
  padding: 1rem;
  overflow: visible;
  color: #6f6f6f;
}

p {
  font-family: "Geist";
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 34px;
  padding: 1rem;
  overflow: visible;
  color: #6f6f6f;
}

.project-text {
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 0;
  color: white;
  font-family: "Roboto";
  width: 80%;
  inline-size: 80%;
}

.project-details {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.card {
  margin-left: auto;
  margin-right: auto;
}
.card-body {
  background-color: black;
  border: "none";
}

.card-title {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Roboto";
}

@media (max-width: 768px) {
  .project-list {
    font-size: 2.25rem;
  }
  .project-text {
    font-size: 1rem;
  }
  .project-container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .project-list {
    font-size: 2rem;
  }
  .project-text {
    font-size: 0.5rem;
  }
}
