.projects-text-image-mask {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
}

.card-image-top {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  object-fit: cover; /* Added property */
}

.projects-subtitle {
  font-size: 30px;
  font-weight: bold;
  color: grey;
}

.project-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: grey;
}
.card-text {
  margin-top: 1rem;
  font-size: 1rem;
  color: grey;
}

.project {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: auto;
  margin: auto;
  margin-top: 2rem;
}

.project-section {
  padding: 2rem;
}

.btn-row {
  display: flex;
  justify-content: space-between;
}

.project-btn {
  margin-top: 1rem;
  font-size: 1rem;
  color: grey;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bolder;
  border: 2px solid grey;
  justify-content: center;
  width: 48%;
}

.project-btn:hover {
  background-color: #fff;
  color: #000;
}

@media screen and (max-width: 768px) {
  .project {
    width: auto;
  }
}

.li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . .";
}

.project-section {
  padding: 2rem;
}

.project-image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
  border-radius: 1rem;
}

.project-links {
  margin-left: auto;
  margin-right: auto;
}

.project-info {
  margin-top: 2rem;
}

.card {
  height: fit-content;
  padding: 1rem;
  background: #c3ff38; /* Adjust transparency as needed */
  backdrop-filter: blur(10px); /* Creates the frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
  border-radius: 1.5rem;
}

.card-title {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: grey;
}

@media screen and (max-width: 768px) {
  .project {
    width: auto;
  }
}
