.product-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100dvw;
  height: 90dvh;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .product-section {
    height: auto;
    display: flex;
    padding: 1rem;
  }
}

.product-title {
  margin: 2rem;
  display: flex;
  font-weight: 900;
  color: #e3e4e2;
  font-size: calc(7rem + 2vw);
}

@media screen and (max-width: 768px) {
  .product-title {
    font-size: 4rem;
    margin: 1rem;
  }
}

.welcomepr {
  color: #b2b3b1;
  font-weight: 500;
  font-size: 2rem;
}

.product-feature {
  padding: 1rem;
  display: block;
  font-weight: 200;
  list-style: disc;
  margin-left: 1rem;
  ont-size: calc(1.3rem + 0.6vw);
}

