.product-card {
  color: #e3e4e2;
  display: flex;
  width: 40dvw;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  background-color: rgba(33, 28, 28, 0.85);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s;
  margin: 2rem;
}

@media screen and (max-width: 768px) {
  .product-card {
    width: 75dvw;
    display: flex;
  }
}

.product-title {
  display: flex;
  font-weight: 700;
  font-size: calc(1.3rem + 0.6vw);
}

.product-price {
  text-decoration: none;
  color: #e3e4e2;
  font-weight: 700;
  ont-size: calc(1.3rem + 0.6vw);
  margin-left: auto;
}

.product-feature {
  font-weight: 200;
  list-style: disc;
  margin-left: 1rem;
  ont-size: calc(1.3rem + 0.6vw);
}

.ideal {
  width: 75%;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .product-card {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin: 2rem 0;
  }
  .ideal {
    width: 100%;
    font-size: 1rem;
  }
  .product-feature {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .product-price {
    font-size: 1rem;
  }
}
