.hero-title {
  padding-top: 1rem;
  font-weight: 500;
  font-size: clamp(6rem, 5vw, 3rem);
  color: #f5f4f7;
  word-spacing: 10px;
}
@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
    color: #c3ff38;
  }
}

.landing-pic {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  object-fit: cover;
  max-height: 450px;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.9);
}

@media screen and (max-width: 768px) {
  .landing-pic {
    max-height: 150px;
  }
}

.left-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 0 2rem;
}

.parent {
  height: 80dvh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.hero-description {
  font-size: clamp(1.5rem, 5vw, 1rem);
  line-height: 1.5;
  font-weight: 200;
  color: #f5f4f7;
}

.hero-text {
  font-size: clamp(1.5rem, 5vw, 1rem);
  width: 100%;
  font-family: "Geist";
  font-weight: 900;
  line-height: 60 px;
  overflow: visible;
  color: #c3ff38;
}

.hero {
  background-image: url("../../assets/images/bg/hero-bg.svg");
}

.hero-icons {
  justify-items: left;
  display: flex;
  padding: 0%;
}

.hero-icons :hover {
  border-radius: 0.5rem;
  background-color: #c8c8cc;
}
