.hero-section {
  display: grid;
  place-content: center;
  height: 100vh;
  margin-top: 2rem;
  color: #e3e4e2;
}


.hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 0;
  width: 100%;
  background: transparent;
  color: #e3e4e2;
}

.col1,
.col2,
.col3 {
  padding: 1rem;
  margin: 1rem;
  background-color: transparent;
}

.hero-title {
  font-weight: 900;
  letter-spacing: -5px;
  font-size: 12rem;
  color: #c6d1ba;
  text-align: center;
}

.hero-welcome {
  font-size: 1.75rem;
  font-weight: 200;
  line-height: 1.5;
  text-align: left;
}

.hero-image {
  display: block;
  height: 100%;
  width: auto;
  margin: 0 auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.hero-icons a  {
  
  flex-wrap: row;
  color: #e3e4e2;
  text-decoration: none;
  
}

.stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: auto;
}
@media screen and (max-width: 800px) {
  .hero {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .hero-section {
    margin-top: 3rem;
    height: auto;
  }

  .col1,
  .col2,
  .col3 {
    margin: 1rem 0;
    text-align: left;
    padding: 1rem;
  }

  .hero-title {
    font-size: clamp(3rem, 10vw, 4rem);
    letter-spacing: -4px;
    margin: 0;
  }

  .hero-welcome {
    text-align: left;
    font-size: 1.5rem;
  }

  .hero-image {
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
  }
}
