.hero-title {
  padding-top: 1rem;
  font-weight: 900;
  letter-spacing: -15px;
  font-size: 12vw;
  padding: 2rem;
  margin-left: 2rem;
  color: #e3e4e2;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 3.25rem;
    letter-spacing: -4px;
    padding: 0;
    margin: 0;
  }
}

.container-fluid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: transparent;
  color: #e3e4e2;
}

.row {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin: 0;
  padding: 1rem;
  width: 100%;
  height: 60dvh;
  background: transparent;
  color: #e3e4e2;
}

.col1 {
  flex: 1;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 2rem;
  background-color: transparent;
  width: 1/3;
}

.col2 {
  flex: 1;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 2rem;
  background-color: transparent;
  width: 1/3;
}

.col3 {
  flex: 1;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 2rem;
  background-color: transparent;
  width: 1/3;
}

@media screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    place-content: center;
    margin: 0;
    padding: 1rem;
    width: 100dvw;
    height: 60%;
    background: transparent;
  }
  .col1 {
    text-align: center;
  }
  .col2 {
    display: none;
  }
}

.hero-text {
  font-size: clamp(1.5rem, 5vw, 1rem);
  text-align: left;
  width: 100%;
  font-family: "Geist";
  font-weight: 100;
  line-height: 1.5;
  overflow: visible;
  color: #e3e4e2;
  margin-left: auto;
  margin-right: auto;
}

.hero-image {
  border-radius: 0.5rem;
  height: 375px;
}

.hero-image :hover {
  border-radius: 0.5rem;
  background-color: linear-gradient(225deg, #8aff85 0%, #d0ff7d 100%);
  transform: scale(1.1);
  shadow: 0 0 10px rgba(f, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .hero-image {
    border-radius: 0.5rem;
    height: 300px;
  }
}

.hero-icons {
  justify-items: left;
  flex-direction: row;
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  width: auto;
}

.hero-icons :hover {
  border-radius: 0.5rem;
  background-color: #8aff85;
  background-image: linear-gradient(225deg, #8aff85 0%, #d0ff7d 100%);
}

.scroll-icon {
  bottom: 2rem;
  center: 100%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #e3e4e2;
  cursor: pointer;
}

.scroll-icon :hover {
  background-color: #8aff85;
  background-image: linear-gradient(225deg, #8aff85 0%, #d0ff7d 100%);
}

.arrow {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  width: auto;
  place-content: center;
}
