.hero-title {
  padding-top: 1rem;
  font-weight: 900;
  letter-spacing: -15px;
  font-size: 13rem;
  padding: 2rem;
  margin-left: 2rem;
  text-transform: uppercase;
  color: #f5f4f7;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .hero-title {
    font-size: 3.25rem;
    letter-spacing: -8px;
    padding: 0;
    margin: 0;
  }
}

.container-fluids {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background: transparent;
}

.row {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  margin: 0;
  padding: 2rem;
  width: 100dvw;
  height: 60dvh;
  background: transparent;
}

@media screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    margin: 0;
    padding: 1rem;
    width: 100dvw;
    height: 60%;
    background: transparent;
  }
}

.col {
  flex: 1;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 2rem;
  background-color: transparent;
  width: 1/3;
}

@media screen and (max-width: 768px) {
  .col {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    margin: 2rem;
    background-color: transparent;
    width: 100%;
  }
}

.hero-text {
  font-size: clamp(1.5rem, 5vw, 1rem);
  width: 100%;
  font-family: "Geist";
  font-weight: 200;
  line-height: 1.5;
  overflow: visible;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}

.hero-image {
  border-radius: 0.5rem;
}

.hero-image :hover {
  border-radius: 0.5rem;
  background-color: #c3ff38;
  transform: scale(1.1);
  shadow: 0 0 10px rgba(f, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  .hero-image {
    border-radius: 0.5rem;
    height: 75px;
    width: 60px;
    display: none;
  }
}

.hero-icons {
  justify-items: left;
  flex-direction: row;
  align-items: end;
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  width: auto;
}

.hero-icons :hover {
  border-radius: 0.5rem;
  background-color: #c3ff38;
}

.scroll-icon {
  bottom: 2rem;
  center: 100%;
  transform: translateX(-50%);
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.scroll-icon :hover {
  color: #c3ff38;
}

.arrow {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0%;
  width: auto;
  place-content: center;
}
