.skill-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.skill-icon {
  background-color: transparent;
  border-radius: 1rem;
  background: #fff;
  min-height: 4rem;
}

svg {
  width: 150px;
  height: 150px;
}

@media screen {
  .skill-icon {
    width: auto;
    height: 50px;
  }
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
