.img {
  margin: 10px;
  border-radius: 50%;
  background-color: transparent;
  opacity: 0.5;

  backdrop-filter: blur(10px);

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.3s ease;
}

.ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
