.card-body {
  display: flex;
  min-height: auto;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 2rem;
  height: content;
}

.skill {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen {
  .skill {
    flex-direction: column;
    align-items: center;
  }
}

.skill-icon {
  background: #e3e4e2;
  min-height: 4rem;
}
.skill-list > li {
  margin: 1rem;
  color: #2d2d2d;
}

@media screen {
  .skill-icon {
    width: auto;
    height: 50px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  width: 75%;
  height: auto;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  background-color: transparent;
  color: #c6d1ba;
  background-color: rgba(33, 28, 28, 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12.3px);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    height: auto;
  }
}

.category {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.skill-section {
  height: auto;
}
