.cta {
  display: flex;
  flex-direction: column;
  color: #e3e4e2;
  background-image: url("../../assets/images/bg/cta-bg.png");
  padding: 2rem;
  margin-top: 2rem;
  justify-content: center;
  text-align: left;
  align-content: center;
  height: 100vh;
  min-height: auto;
}
.cta h1 {
  font-size: 10rem;
  font-weight: 900;
  margin-bottom: 3rem;
  background-image: linear-gradient(225deg, #8aff85 0%, #d0ff7d 100%);
  -webkit-background-clip: text;
  color: transparent;
}

.cta h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 3rem;
  font-weight: 500;
  width: 50%;
  margin-bottom: 3rem;
}
.callToAction {
  min-height: 100vh;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.full-width-section {
  width: 100%;
  height: 100dvh;
}
