.cta {
  display: flex;
  flex-direction: column;
  color: #e3e4e2;
  background-image: url("../../assets/images/bg/cta-bg.png");
  padding: 20px;
  justify-content: center;
  text-align: center;
  align-content: center;
  height: 75dvh;
}

.button-container {
  display: flex;
  place-content: center;
}

.full-width-section {
  width: 100%;
  height: 100dvh;
}
