h1 {
  color: #e3e4e2;
}

p {
  color: #969695;
}

.about-container {
  padding: 2rem;
  border-radius: 2rem;
}

.a {
  text-decoration: none;
  font-size: 1.5rem;
}

.row-about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.about-sub {
  font-size: 2rem;
  color: #000;
  padding: 2rem;
  margin-left: auto;
  font-weight: bolder;
  text-align: center;
}

.listTitle,
.list-item {
  font-size: 2rem;
  color: #fff;
  padding: 1rem;
}

li,
ul {
  list-style: none;
}

.about-pic {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This makes the image cover the entire container */
  position: absolute; /* Positioning the image absolutely within the container */
  top: 0;
  left: 0;
}

.about-row {
  max-width: 650px;
  display: inline;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 2rem;
  color: #000;
  text-align: left;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.47);
  -webkit-backdrop-filter: blur(10.5px);
  backdrop-filter: blur(10.5px);
  border-radius: 1rem;
}

.about-row strong {
  font-weight: bold;
  display: inline;
}

@media screen and (max-width: 768px) {
  .about-row {
    font-size: 1rem;
  }
}

.about-list {
  font-size: 1.5rem;
}

.about {
  padding: 2rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  .about-container {
    padding: 0;
    margin: 0;
  }
  .about-text {
    font-size: 1rem;
    font-weight: 500;
    width: 100%;
  }
  section {
    padding: 0;
    margin: 0;
  }
  .image {
    max-width: 100%;
    min-width: 100%;
    height: auto;
    border-radius: 1rem;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  margin-top: 2rem;
}

.div1 {
  grid-area: 1 / 1 / 4 / 5;
  width: 100%; /* Set the desired width of the container */
  height: 600px; /* Set the desired height of the container */
  position: relative; /* Needed for absolute positioning of the image */
  overflow: hidden; /* Hide any overflow */
  border-radius: 2rem;
}

.div2 {
  grid-area: 1 / 5 / 4 / 7;
  background-color: rgba(138, 255, 133, 0.05);
  border-radius: 1rem;
  padding: 2rem;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12.3px);
}

.div3 {
  grid-area: 4 / 4 / 6 / 7;
  background: rgba(
    227,
    228,
    226,
    0.05
  ); /* Adjust the alpha value (0.5) as needed */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12.3px);
  border-radius: 1rem;
  padding: 2rem;
}
.div4 {
  grid-area: 6 / 4 / 7 / 7;
  display: flex;
  justify-content: center; /* Centers the button horizontally */
  align-items: center; /* Centers the button vertically */
  height: 100%; /* Set the desired height of the container */
  width: 100%; /* Set the desired width of the container */
  border: 1px solid #000; /* Optional: for visual reference */
  padding: 4rem;
  border-radius: 2rem;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12.3px);
}
.div5 {
  grid-area: 4 / 1 / 7 / 4;
  border-radius: 1rem;
  padding: 2rem;
  background-color: rgba(33, 28, 28, 0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12.3px);
  color: #8aff85;
  border: #8aff85 0.25px;
}

@media (max-width: 768px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .div1,
  .div2,
  .div3,
  .div4,
  .div5 {
    grid-area: auto;
  }
}
