.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 2rem;
  width: 80%;
}

.pic-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 6rem;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.AboutTitle {
  margin-top: 2rem;
  font-size: 4rem;
  margin-bottom: 0;
  color: white;
  font-family: "Roboto";
  font-weight: bold;
}

.About-text {
  margin-top: 4rem;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 0;
  width: 75%;
  color: white;
  font-family: "Roboto";
  display: flex;
  flex-wrap: wrap;
}

.button {
  display: flex;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .AboutTitle {
    font-size: 2.25rem;
  }
  .About-text {
    font-size: 1rem;
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .AboutTitle {
    font-size: 2rem;
  }
  .About-text {
    font-size: 0.75rem;
  }
  .container {
    width: 100%;
  }
}
