h1 {
  font-family: "Geist";
  font-weight: 700;
  font-size: 4rem;
  line-height: 65px;
  padding: 1rem;
  overflow: visible;
  background-image: url(../../assets/images/cool-background.png);
}

h3 {
  font-family: "Geist";
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 34px;
  padding: 1rem;
  overflow: visible;
  color: #6f6f6f;
}

.about {
  padding: 24px 48px 0px;
  margin-left: auto;
  height: 90vh;
}

.button {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(175, 175, 186, 1) 0%,
    rgba(0, 84, 255, 0.9514180672268907) 38%
  );
}
