.contact-parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media screen and (max-width: 768px) {
  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.contact-title {
  font-weight: ultra-black;
  text-transform: uppercase;
  font-size: clamp(12rem, 8vw, 7rem);
  letter-spacing: -8px;
  color: #e3e4e2;
  padding: 1rem;
  overflow: hidden;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 768px) {
  .contact-title {
    font-weight: ultra-black;
    font-size: 3.25rem;
    letter-spacing: -4px;
    padding: 0;
    margin: 0;
  }
}

.contact-svg {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: auto;
  margin-top: 25%;
}
.svg-bg {
  background-color: #8aff85;
  background-image: linear-gradient(225deg, #8aff85 0%, #d0ff7d 100%);
  height: 4rem;
  width: 4rem;
  border-radius: 0.5rem;
  padding: -1rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.contact-detail {
  margin-left: 2rem;
}

.contact-item {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  width: 100%;
  background: #211c1c;
  border-radius: 1rem;
}

.contact-item:hover {
  background: #2e2929;
}

.error {
  color: red;
  margin-top: 10px;
  font-size: 0.75rem;
  font-weight: 500;
}

/* form css */

.form {
  margin: 0;
  height: 100%;
  width: 100%;
}

.form-control {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #2e2929;
  border: 1px solid #3e3e3e;
  font-size: 1.5rem;
}

input::placeholder,
textarea::placeholder {
  font-weight: 100;
  opacity: 0.5;
  font-size: 1.5rem;
  color: #fff;
}
.form {
  margin: 0;
  padding: 2rem;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  color: #211c1c;
}

@media screen and (max-width: 768px) {
  .form {
    padding: 0;
    margin: 0;
    width: 100%;
  }
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  color: #e3e4e2;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  margin: 0;
  color: #e3e4e2;
  font-weight: 500;
}

@media (max-width: 768px) {
  .contact-content {
    padding: 1rem;
    margin-left: auto;
    height: 75dvh;
  }
  .contact-photo {
    display: inline;
    border-radius: 10%;
  }
  .contact-text-image-mask {
    font-size: 4rem;
    font-weight: 500;
    width: 100%;
  }
  .contact {
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .contact-parent {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 100vh;
    margin-bottom: 15rem;
  }
  .contact-text {
    margin: 0;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
    justify-content: space-evenly;
  }
  @media screen and (max-width: 768px) {
    .contact-text {
      padding: 1rem;
      margin: 0;
      width: 100%;
    }
  }

  .contact-form {
    padding: 1rem;
    margin: 0;
    width: 100%;
  }
}

.contact-detail {
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .contact-detail {
    font-size: 1rem;
  }
}
