.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.error {
  color: red;
  font-size: 0.75rem;
  font-weight: 500;
}

.contact-photo {
  display: flex;
  align-items: center;
  object-fit: cover;
  border-radius: 50%;
  width: 40%;
  box-sizing: border-box;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
}
.contact-btn {
  display: flex;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  color: grey;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bolder;
  border: 2px solid grey;
  justify-content: center;
  background-color: #c3ff38;
  width: 48%;
}

/* form css */

.form {
  margin: 0;
  height: 100%;
  width: 100%;
}

.form-control {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  color: #fff;
  font-size: 1rem;
}

:placeholder-shown {
  color: #fff;
}
.form {
  background-color: transparent;
  margin: 0;
  padding: 2rem;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  backdrop-filter: blur(10px); /* Creates the frosted glass effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari */
}

label {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  margin: 0;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

/* media queries */

@media (max-width: 768px) {
  .contact-content {
    padding: 1rem;
    margin-left: auto;
    height: 75dvh;
  }
  .contact-photo {
    display: inline;
    border-radius: 10%;
  }
  .contact-text-image-mask {
    font-size: 4rem;
    font-weight: 500;
    width: 100%;
  }
  .contact {
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  .contact-parent {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 100vh;
    margin-bottom: 15rem;
  }
  .contact-text {
    margin: 0;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
    justify-content: space-evenly;
  }
  .contact-form {
    padding: 1rem;
    margin: 0;
    width: 100%;
  }
  .padder5,
  .padder6 {
    display: none;
  }
}
