.contact-content {
  padding: 24px 48px 0px;
  margin-left: auto;
  height: 65dvh;
  margin-bottom: 2rem;
}

.contact-text-image-mask {
  font-weight: bold;
  font-size: 4rem;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(175, 175, 186, 1) 0%,
    rgba(0, 84, 255, 0.9514180672268907) 38%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .contact-content {
    padding: 1rem;
    margin-left: auto;
    height: 75dvh;
  }
  .contact-text-image-mask {
    font-size: 2.5rem;
    font-weight: 500;
    width: 100%;
  }
  .contact {
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  card {
    margin: 0;
  }
}
