.contact-parent {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-areas: "info picture"; /* Assign areas for better structure */
  gap: 1rem; /* Space between columns */
  align-items: center; /* Vertically align content */
  height: 100%; /* Ensure full height usage */
}

.contact-text {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  color: #e3e4e2;
}

.contact-info {
  grid-area: info; /* Reference the 'info' grid area */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.contact-picture {
  grid-area: picture; /* Reference the 'picture' grid area */
  text-align: right; /* Align the image to the right */
  padding: 1rem;
}

.contact-picture img {
  max-width: 100%; /* Make the image responsive */
  height: auto;
  border-radius: 10px; /* Optional: rounded corners */
  object-fit: cover;
  margin-right: 10rem;
}

.contact-section {
  padding: 2rem;
  height: 90dvh;
  display: flex;
  justify-content: Space-between;
  flex-direction: column;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact-title {
  font-size: clamp(8rem, 50vw, 10rem);
  letter-spacing: -4px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .contact-parent {
    grid-template-columns: 1fr; /* Single column for mobile */
    grid-template-rows: auto auto; /* Stack rows */
    grid-template-areas:
      "info"
      "picture"; /* Stack info above picture */
  }

  .contact-picture {
    text-align: center; /* Center image on mobile */
  }

  .contact-section {
    padding: 1rem;
  }

  .contact-title {
    font-size: 3.25rem;
    letter-spacing: -4px;
    padding: 0;
    margin: 0;
  }
}
