.navbar-title {
  font-size: 1rem;
  font-weight: 900;
  margin-left: 1rem;
  text-transform: uppercase;
  color: #e3e4e2;
}
@media screen and (max-width: 768px) {
  .navbar-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
  }
}

.navbar-collapse {
  flex-grow: 0;
}

.logo-owl {
  height: 1.5rem;
}

.icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
  display: none;
}

.header {
  padding: 2rem;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  backdrop-filter: blur(10px);
  color: #e3e4e2;
  top: 0;
  transition: ease 0.4s;
  &--scrolled {
    height: 40px;
  }
}

.social-icons {
  display: none;
  margin-left: auto;
  padding: 1rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .list-item {
    display: flex;
    flex-direction: column;
  }
  .header {
    padding: 1rem;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .logo {
    padding: 0;
    margin: 0;
  }
}

.custom-toogler {
  color: #fff;
  border: 2px solid #fff;
}

.home-link p {
  font-weight: 900;
}

.link p {
  font-weight: 100;
}
