.header-container {
  display: flex;
  grid-template-columns: 1fr;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  max-width: 1200px;
  z-index: 1000;
  backdrop-filter: blur(10px);
  position: sticky;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.dropdown-footer {
  display: none;
  font-weight: bold;
  font-size: 1rem;
  flex-direction: column;
  justify-content: center;
}

.icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.25rem;
}

.footer {
  color: #fff;
}

.dropdown-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-footer {
  text-decoration: none;
  font-size: 1rem;
  font-size: large;
  margin-left: 0;
  margin-bottom: 2rem;
  padding-top: 1rem;
  font-weight: 700;
}

.navbar {
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.social-icons {
  display: flex;
  margin-left: auto;
  padding: 1rem;
  color: #fff;
}

.social-icons a {
  padding-left: 10px;
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: #fff;
  font-size: large;
  margin-left: 1.25rem;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
}

.list a {
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  align-items: center;
  color: #fff;
  font-size: large;
  margin-left: 1rem;
  padding-top: 1rem;
  font-weight: 700;
}

.list a:hover {
  color: #2a098c;
  transition: 0.3s;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .list {
    justify-content: flex-start;
    flex-direction: column;
  }
  .social-icons {
    display: flex;
  }
  .list {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }
  .header-container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
