body {
  font-family: "Roboto", sans-serif;
}
.container {
  margin-top: 1.5rem;
  background-color: #1e1e1e;
}
.navLinkList {
  margin-left: auto;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1e1e1e;
  border-radius: 1.2rem;
  box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}
.navbar-toggler-white {
  color: #fff;
  border-color: #fff;
}
.navbar-toggler-white:hover {
  color: #fff;
  border-color: #fff;
}
.logo {
  display: flex;
  align-items: space-between;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
}

.navbarTitle {
  margin-top: 0.5rem;
  justify-content: center;
  margin-left: 0.25rem;
  font-family: "Roboto", sans-serif;
}
.NavbarLink {
  margin-left: auto;
  color: #fff;
  font-display: 6rem;
  font-weight: 300;
}
