.support-box {
  font-family: "inter", sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  color: #e4e3a4;
  margin: 1rem;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .support-box {
    padding: 1rem;
  }
}

.support-feature {
  padding: 1rem;
  display: block;
  font-weight: 200;
  list-style: disc;
  margin-left: 1rem;
  ont-size: calc(1.3rem + 0.6vw);
}




