.footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-text {
  color: white;
}
