.footer-container {
  display: flex;
  flex-direction: row;
  color: #6f6f6f;
  font-family: "Geist";
  font-weight: bold;
  font-size: 1.75rem;
  position: relative;
  bottom: 0;
  justify-content: center;
  text-align: center;
}
.footer-container a {
  color: #6f6f6f;
  text-decoration: none;
}

h5 {
  align-items: center;
}
