.exp-section {
  height: auto;
}

.disclaimer {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #000;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-buttom: 2rem;
  font-size: 1.75rem;
  color: #8aff85;
  text-decoration: none;
}

.card-exp {
  margin: 2rem;
  text-align: left;
  padding: 2rem;
  color: #e3e4e2;
  background-color: rgba(33, 28, 28, 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12.3px);
  width: 75%;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.exp-list {
  color: #969695;
}

@media screen and (max-width: 768px) {
  .card-exp {
    font-size: 1rem;
    padding: 1;
    width: 100%;
    margin: 0;
    margin-top: 2rem;
  }
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #e3e4e2;
}

.exp-title {
  font-size: 3rem;
  font-weight: bold;
  color: #e3e4e2;
}

.exp-range {
  font-size: 1rem;
  font-weight: bolder;
  color: #e3e4e2;
}

.exp-role {
  font-size: 2rem;
  font-weight: 100;
  color: #e3e4e2;
}

.exp-sub {
  font-size: 1rem;
  color: #e3e4e2;
  font-weight: bold;
}

.exp-summary {
  font-size: 1rem;
  color: #fff;
  line-height: 1.2;
}

.exp-item {
  font-size: 1rem;
  line-height: 1.5;
}

.exp-list {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  text-transform: downcase;
}
