li {
  color: #e3e4e2;
  list-style: none;
}

.card-exp {
  margin: 2rem;
  text-align: left;
  padding: 1rem;
  color: #e3e4e2;
  background: #211c1c;
  font-size: 1.5rem;
  border-radius: 1rem;
}

@media screen and (max-width: 768px) {
  .card-exp {
    font-size: 1rem;
    padding: 1;
  }
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #e3e4e2;
}

.exp-title {
  font-size: 3rem;
  font-weight: bold;
  color: #e3e4e2;
}

.exp-range {
  font-size: 1rem;
  font-weight: bolder;
  color: #e3e4e2;
}

.exp-role {
  font-size: 2rem;
  font-weight: 100;
  color: #e3e4e2;
}

.exp-sub {
  font-size: 1rem;
  color: #e3e4e2;
  font-weight: bold;
}

.exp-summary {
  font-size: 1rem;
  color: #fff;
  line-height: 1.2;
}

.exp-item {
  font-size: 1rem;
  line-height: 1.5;
  list-style: square;
}
