@font-face {
  font-family: "Geist";
  src: url("../src/assets/fonts/Geist-Regular.otf") format("truetype");
}

#root,
html {
  font-family: "Geist", sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url("../src/assets/images/bg/hero-bg.svg");
  background-color: #000;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.exp-title {
  color: #000;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  padding: 1rem;
}

.container {
  display: grid;
  height: 100%;
  width: 100%;

  place-items: center;
}

.top {
  position: sticky;
  top: 0;
  z-index: 1000;
  grid-row: 1;
}

.custom-btn {
  background-color: #c3ff38;
  color: #000;
  font-size: clamp(0.75rem, 2vw, 1.5rem);
  font-weight: 400;
  padding: 0.5rem;
  border: #c3ff38 3px solid;
  border-radius: 40px;
  padding: 0.5rem;
  text-align: center;
  width: fit-content;
}

.custom-btn:hover {
  background-color: #c3ff38;
  color: rgb(88, 90, 88);
  font-weight: 700;
  border: rgb(88, 90, 88) 3px solid;
}

.content {
  grid-row: 2;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.section {
  position: relative;
  width: 100dvw;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.section-title {
  font-weight: ultra-black;
  font-size: clamp(7rem, 5vw, 13rem);
  letter-spacing: -8px;
  color: rgb(88, 90, 88);
  padding: 1rem;
  overflow: hidden;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.section-watermark {
  position: absolute;
  display: flex;
  font-size: 10rem;
  font-weight: ultra-black;
  opacity: 0.09;
  color: #c3ff38;
  height: 300px;
  word-spacing: 15px;
  overflow: visible;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  z-index: -1;
  bottom: 0;
  right: 0;
}

.white-bg {
  background-color: #fff;
  border-radius: 2rem;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 3.5rem;
  }
}
