@import url("https://fonts.googleapis.com/css2?family=Geostar&display=swap");

@font-face {
  font-family: "Geist";
  src: url("../public/Geist-Regular.otf") format("truetype");
}

#root,
body,
html {
  font-family: "Geist", sans-serif;
  height: 100%;
  background-color: #f5f4f7;
}

.header {
  position: static;
  display: flex;
  margin-bottom: 6rem;
}

section {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  justify-content: space-evenly;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

main {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  padding: 1rem;
}

@media (max-width: 768px) {
  .section {
    grid-template-columns: 1fr;
    min-width: 100%;
    height: auto;
    padding: 1rem;
    margin: 1rem;
  }
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
