body,
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: "Geist";
  src: url(../public/Geist-Regular.otf);
}
